# Folders
.godot/
.import/

# Test project stuff
project.godot
icon.svg
*.import
**/*.import
main.gd
main.tscn

# Test files stuff
library.xml

# Keep the addon icon
!assets/icon.svg
!assets/icon.png
